<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>servicios.FiltroAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroLogin</filter-name>
        <filter-class>servicios.FiltroLogin</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroMapa</filter-name>
        <filter-class>servicios.FiltroMapa</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroMapa</filter-name>
        <url-pattern>/mapa.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/loginFail.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/registro.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/registroFail.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/registroSuccessfull.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroMapa</filter-name>
        <url-pattern>/Perfil.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroMapa</filter-name>
        <url-pattern>/ActualizarInformacion.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletControl</servlet-name>
        <servlet-class>servicios.ServletControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlB</servlet-name>
        <servlet-class>servicios.ServletControlB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlC</servlet-name>
        <servlet-class>servicios.ServletControlC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>servicios.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControl</servlet-name>
        <url-pattern>/ServletControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlB</servlet-name>
        <url-pattern>/ServletControlB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlC</servlet-name>
        <url-pattern>/ServletControlC/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
